body {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}

/*
 * ./components/App.js
 */

.app-content {
  transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  padding: 20px 0 70px 0;
}

.app-content.expanded {
  padding-left: 255px;
}

/*
 * ./components/Header.js
 */

.header .title {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.app-bar {
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: 100vw;
}

.app-bar.expanded {
  left: 255px;
}

/*
 * ./components/MainMenu.js
 */

.about-sub {
  display: none;
}

.about-sub.expanded {
  display: block;
}
